{% extends "Shop/Main.html" %}

{% block content %}

 <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Login</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Accueil</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Login</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Login </span></h2>
        </div>
        <div class="row justify-content-md-center" style="    text-align: center;        ">
            <div class="col-4 ">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="form1" method="post" action="{% url 'login' %}" id="contactForm" novalidate="novalidate">
                                               {% csrf_token%}

                        <div class="control-group">
                            <input type="text" name="username" class="form-control" id="name" placeholder="Nom d'utilisateur " required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="password"  name="password" class="form-control" id="email" placeholder="Mot de pass" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton"> Se connecter </button>
                        </div>
                        <p class="form__text">
                            <br>
							<a class="form__link" href="{% url 'register'%}">Vous n'avez pas de compte? Créer maintenent </a>
						</p>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}